doctype html
html
    head
        title ITMD 442 - Lab 2: Contact Database
    body
        h1 Contact Database
        nav
            navbar-default
            ul  
                li.active 
                    a(href='/') Home
                li 
                    a(href='addcon.pug') Add Contact
                li  
                    a(href='/views/deletecon.pug') Delete Contact
        h2 This is a simple contact database. The goal of this application is to allows users to create, edit, view, or delete individual contacts.
        h3 Contact Information:
        h4 Nandi Patel - npatel127@hawk.iit.edu
